/* Cubic Bezier Transition */
/*********** 
    Page Header
    ***********/
/* Header search bar, toggler button & top menu */
.page-header.navbar {
  background-color: #2b3643;
  /* Top notification menu/bar */
  /* Header seaech box */
  /* Toggler button for sidebar expand/collapse and responsive sidebar menu */ }
  .page-header.navbar .top-menu .navbar-nav {
    /* Extended Dropdowns */
    /* Notification */
    /* Inbox */
    /* Tasks */
    /* User */
    /* Language */
    /* Dark version */ }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i {
      color: #79869a; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default {
      background-color: #36c6d3;
      color: #ffffff; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
      background-color: #3f4f62; }
      .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover > i {
        color: #a4aebb; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
      background-color: #3f4f62; }
      .page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle > i {
        color: #a4aebb; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu {
      border-color: #e7eaf0; }
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu:after {
        border-bottom-color: #eaedf2; }
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external {
        background: #eaedf2; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > h3 {
          color: #62878f; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a {
          color: #337ab7; }
          .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a:hover {
            color: #23527c;
            text-decoration: none; }
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
        border-bottom: 1px solid #EFF2F6 !important;
        color: #888888; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a:hover {
          background: #f8f9fa; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a .time {
      background: #f1f1f1; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a:hover .time {
      background: #e4e4e4; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .circle {
      background-color: #36c6d3;
      color: #ffffff; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .corner {
      border-color: transparent transparent transparent #36c6d3; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox .dropdown-menu .dropdown-menu-list .subject .from {
      color: #5b9bd1; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu .dropdown-menu-list .progress {
      background-color: #dfe2e9; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
      color: #c6cfda; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
      color: #c6cfda; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-menu {
      width: 195px; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-language > .dropdown-toggle > .langname {
      color: #c6cfda; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu {
      background: #3f4f62;
      border: 0; }
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu:after {
        border-bottom-color: #3f4f62; }
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external {
        background: #2f3b49; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external > h3 {
          color: #adbaca; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external > a:hover {
          color: #5496cf; }
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a,
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a {
        color: #bcc7d4;
        border-bottom: 1px solid #4b5e75 !important; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a > i,
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a > i {
          color: #9dadc0; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a:hover,
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a:hover {
          background: #47596e; }
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a {
        border-bottom: 0 !important; }
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li.divider {
        background: #4b5e75; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list > li > a .time {
      background: #354353; }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list > li > a:hover .time {
      background: #2b3643; }
  .page-header.navbar .search-form {
    background: #232c37; }
    .page-header.navbar .search-form:hover {
      background: #3f4f62; }
    .page-header.navbar .search-form .input-group .form-control {
      color: #959fad; }
      .page-header.navbar .search-form .input-group .form-control::-moz-placeholder {
        color: #929cab;
        opacity: 1; }
      .page-header.navbar .search-form .input-group .form-control:-ms-input-placeholder {
        color: #929cab; }
      .page-header.navbar .search-form .input-group .form-control::-webkit-input-placeholder {
        color: #929cab; }
    .page-header.navbar .search-form .input-group .input-group-btn .btn.submit > i {
      color: #959fad; }
    .page-header.navbar .search-form.open {
      background: #3f4f62; }
  .page-header.navbar .menu-toggler {
    background-image: url(../../img/sidebar_toggler_icon_darkblue.png); }

/* Default Horizontal Menu */
.page-header.navbar {
  /* Default Mega Menu */
  /* Light Mega Menu */ }
  .page-header.navbar .hor-menu .navbar-nav {
    /* Mega menu content */
    /* Classic menu */ }
    .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu {
      box-shadow: 5px 5px rgba(63, 79, 98, 0.2); }
      .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > h3 {
        color: #c6cfda; }
    .page-header.navbar .hor-menu .navbar-nav > li > a {
      color: #c6cfda; }
      .page-header.navbar .hor-menu .navbar-nav > li > a > i {
        color: #788ea8; }
    .page-header.navbar .hor-menu .navbar-nav > li:hover > a,
    .page-header.navbar .hor-menu .navbar-nav > li.open > a,
    .page-header.navbar .hor-menu .navbar-nav > li > a:hover {
      color: #d5dce4;
      background: #3f4f62 !important; }
      .page-header.navbar .hor-menu .navbar-nav > li:hover > a > i,
      .page-header.navbar .hor-menu .navbar-nav > li.open > a > i,
      .page-header.navbar .hor-menu .navbar-nav > li > a:hover > i {
        color: #889bb2; }
    .page-header.navbar .hor-menu .navbar-nav > li.active > a,
    .page-header.navbar .hor-menu .navbar-nav > li.active > a,
    .page-header.navbar .hor-menu .navbar-nav > li.current > a,
    .page-header.navbar .hor-menu .navbar-nav > li.current > a {
      color: white;
      background: #36c6d3 !important; }
      .page-header.navbar .hor-menu .navbar-nav > li.active > a > i,
      .page-header.navbar .hor-menu .navbar-nav > li.active > a > i,
      .page-header.navbar .hor-menu .navbar-nav > li.current > a > i,
      .page-header.navbar .hor-menu .navbar-nav > li.current > a > i {
        color: #788ea8; }
    .page-header.navbar .hor-menu .navbar-nav > li.active .selected,
    .page-header.navbar .hor-menu .navbar-nav > li.current .selected {
      border-top: 6px solid #36c6d3; }
    .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu {
      box-shadow: 5px 5px rgba(63, 79, 98, 0.2);
      background: #3f4f62; }
      .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a {
        color: #c6cfda; }
        .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a > i {
          color: #c6cfda; }
      .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li:hover > a {
        color: #f1f3f6;
        background: #47596e; }
        .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li:hover > a > i {
          color: #f1f3f6; }
      .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.active > a,
      .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.active > a:hover,
      .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.current > a,
      .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.current > a:hover {
        color: #f1f3f6;
        background: #47596e; }
        .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.active > a > i,
        .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.active > a:hover > i,
        .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.current > a > i,
        .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.current > a:hover > i {
          color: #f1f3f6; }
      .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.divider {
        background-color: #495c72; }
    .page-header.navbar .hor-menu .navbar-nav > li .dropdown-submenu > a:after {
      color: #c6cfda; }
  .page-header.navbar .hor-menu.hor-menu-light .navbar-nav {
    /* Mega menu content */
    /* Classic menu */ }
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.mega-menu-dropdown > .dropdown-menu {
      box-shadow: 5px 5px rgba(102, 102, 102, 0.1); }
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > h3 {
        color: #666; }
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > a {
      color: #c6cfda; }
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > a > i {
        color: #788ea8; }
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li:hover > a,
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > a:hover {
      color: #d5dce4;
      background: #3f4f62; }
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li:hover > a > i,
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > a:hover > i {
        color: #889bb2; }
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.open > a {
      color: #333 !important;
      background: white !important; }
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.open > a > i {
        color: #333 !important; }
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a,
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a:hover,
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a,
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a:hover {
      color: white;
      background: #36c6d3; }
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a > i,
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a:hover > i,
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a > i,
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a:hover > i {
        color: #788ea8; }
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu {
      box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
      background: white; }
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li > a {
        color: #000; }
        .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li > a > i {
          color: #888; }
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li:hover > a {
        color: #000;
        background: whitesmoke; }
        .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li:hover > a > i {
          color: #666; }
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a,
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a:hover,
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a,
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a:hover {
        color: #000;
        background: whitesmoke; }
        .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a > i,
        .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a:hover > i,
        .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a > i,
        .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a:hover > i {
          color: #666; }
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.divider {
        background-color: whitesmoke; }
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu {
      border: 1px solid #f2f2f2; }
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > .dropdown-menu {
      border-top: 0; }

/* Page sidebar */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover,
.page-sidebar {
  background-color: #364150;
  /* Default sidebar */
  /* light sidebar */
  /* Sidebar search */ }
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu,
  .page-sidebar .page-sidebar-menu {
    /* 1st level links */
    /* All links */ }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
    .page-sidebar .page-sidebar-menu > li > a {
      color: #b4bcc8; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i,
      .page-sidebar .page-sidebar-menu > li > a > i {
        color: #606C7D; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class^="icon-"],
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class*="icon-"],
      .page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"],
      .page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
        color: #6b788b; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow:before,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu > li > a > .arrow:before,
      .page-sidebar .page-sidebar-menu > li > a > .arrow.open:before {
        color: #606C7D; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading > h3,
    .page-sidebar .page-sidebar-menu > li.heading > h3 {
      color: #708096; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a,
    .page-sidebar .page-sidebar-menu > li:hover > a,
    .page-sidebar .page-sidebar-menu > li.open > a {
      color: #b4bcc8; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > i,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > i,
      .page-sidebar .page-sidebar-menu > li:hover > a > i,
      .page-sidebar .page-sidebar-menu > li.open > a > i {
        color: #606C7D; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow:before,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow.open:before,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow:before,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu > li:hover > a > .arrow:before,
      .page-sidebar .page-sidebar-menu > li:hover > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu > li.open > a > .arrow:before,
      .page-sidebar .page-sidebar-menu > li.open > a > .arrow.open:before {
        color: #606C7D; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,
    .page-sidebar .page-sidebar-menu > li.active > a,
    .page-sidebar .page-sidebar-menu > li.active.open > a {
      background: #36c6d3;
      border-top-color: transparent;
      color: #ffffff; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover,
      .page-sidebar .page-sidebar-menu > li.active > a:hover,
      .page-sidebar .page-sidebar-menu > li.active.open > a:hover {
        background: #36c6d3; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > i,
      .page-sidebar .page-sidebar-menu > li.active > a > i,
      .page-sidebar .page-sidebar-menu > li.active.open > a > i {
        color: #ffffff; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow:before,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow.open:before,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow:before,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu > li.active > a > .arrow:before,
      .page-sidebar .page-sidebar-menu > li.active > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu > li.active.open > a > .arrow:before,
      .page-sidebar .page-sidebar-menu > li.active.open > a > .arrow.open:before {
        color: #ffffff; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active + li > a,
    .page-sidebar .page-sidebar-menu > li.active + li > a {
      border-top-color: transparent; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open + li > a,
    .page-sidebar .page-sidebar-menu > li.active.open + li > a {
      border-top-color: #3d4957; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:last-child > a,
    .page-sidebar .page-sidebar-menu > li:last-child > a {
      border-bottom: 1px solid transparent !important; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow:before,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu li > a > .arrow:before,
    .page-sidebar .page-sidebar-menu li > a > .arrow.open:before {
      color: #606C7D; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow:before,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu li:hover > a > .arrow:before,
    .page-sidebar .page-sidebar-menu li:hover > a > .arrow.open:before {
      color: #606C7D; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow:before,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu li.active > a > .arrow:before,
    .page-sidebar .page-sidebar-menu li.active > a > .arrow.open:before {
      color: #ffffff; }
    .page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu:hover .sub-menu,
    .page-sidebar-closed .page-sidebar .page-sidebar-menu:hover .sub-menu {
      background-color: #364150; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a,
    .page-sidebar .page-sidebar-menu .sub-menu > li > a {
      color: #b4bcc8; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i,
      .page-sidebar .page-sidebar-menu .sub-menu > li > a > i {
        color: #606C7D; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"],
      .page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],
      .page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"] {
        color: #6b788b; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow:before,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow.open:before {
        color: #606C7D; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a,
    .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a,
    .page-sidebar .page-sidebar-menu .sub-menu > li.open > a,
    .page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
      background: #1d2233!important;}
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > i,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > i,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > i,
      .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > i,
      .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > i,
      .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > i {
        color: #606C7D;
        color: #959fae; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow:before,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow:before,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before {
        color: #606C7D; }
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light,
  .page-sidebar .page-sidebar-menu.page-sidebar-menu-light {
    /* 1st level links */ }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li:hover > a,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.open > a,
    .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li:hover > a,
    .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.open > a {
      background: #3a4656; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a,
    .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a,
    .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a {
      background: #3e4b5c;
      border-left: 4px solid #36c6d3;
      color: #f1f1f1; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a:hover,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a:hover,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a:hover,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a:hover {
        border-left: 4px solid #36c6d3;
        background: #3a4656; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a > i,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > i,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a > i,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > i {
        color: #eeeeee; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a > .arrow:before,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a > .arrow.open:before,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > .arrow:before,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a > .arrow:before,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > .arrow:before,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > .arrow.open:before {
        color: #eeeeee; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu,
    .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu {
      background: #3a4656; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li:hover > a,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.open > a,
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.active > a,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li:hover > a,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.open > a,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.active > a {
        background: #3e4b5c !important; }
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler,
  .page-sidebar .sidebar-toggler {
    background: url(../../img/sidebar_inline_toggler_icon_darkblue.jpg); }
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group,
  .page-sidebar .sidebar-search .input-group {
    border-bottom: 1px solid #435060; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control,
    .page-sidebar .sidebar-search .input-group .form-control {
      background-color: #364150;
      color: #4e5c6f; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control::-moz-placeholder,
      .page-sidebar .sidebar-search .input-group .form-control::-moz-placeholder {
        color: #4e5c6f;
        opacity: 1; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control:-ms-input-placeholder,
      .page-sidebar .sidebar-search .input-group .form-control:-ms-input-placeholder {
        color: #4e5c6f; }
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control::-webkit-input-placeholder,
      .page-sidebar .sidebar-search .input-group .form-control::-webkit-input-placeholder {
        color: #4e5c6f; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .input-group-btn .btn > i,
    .page-sidebar .sidebar-search .input-group .input-group-btn .btn > i {
      color: #4e5c6f; }
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-bordered .input-group,
  .page-sidebar .sidebar-search.sidebar-search-bordered .input-group {
    border: 1px solid #435060; }
  .page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.open .input-group,
  .page-sidebar-closed .page-sidebar .sidebar-search.open .input-group {
    background-color: #364150; }
  .page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.open .remove > i,
  .page-sidebar-closed .page-sidebar .sidebar-search.open .remove > i {
    color: #4e5c6f; }
  .page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid .input-group,
  .page-sidebar-closed .page-sidebar .sidebar-search.sidebar-search-solid .input-group {
    background: none; }
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid .input-group,
  .page-sidebar .sidebar-search.sidebar-search-solid .input-group {
    border: 1px solid #2c3541;
    background: #2c3541; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid .input-group .form-control,
    .page-sidebar .sidebar-search.sidebar-search-solid .input-group .form-control {
      background: #2c3541; }
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid.open .input-group,
  .page-sidebar .sidebar-search.sidebar-search-solid.open .input-group {
    border: 1px solid #364150;
    background: #364150; }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid.open .input-group .form-control,
    .page-sidebar .sidebar-search.sidebar-search-solid.open .input-group .form-control {
      background: #364150; }

.page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light {
  /* 1st level links */ }
  .page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light > li.active > a,
  .page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a {
    border-left: 0;
    border-right: 4px solid #36c6d3; }
    .page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light > li.active > a:hover,
    .page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a:hover {
      border-left: 0;
      border-right: 4px solid #36c6d3; }

/******
    Page Footer 
    ******/
.page-footer .page-footer-inner {
  color: #98a6ba; }

.page-footer-fixed .page-footer {
  background-color: #28303b; }

@media (min-width: 992px) {
  /* 992px */
  /* Sidebar menu closed */
  .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu {
    box-shadow: 5px 5px rgba(44, 53, 66, 0.2); }
    .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu.sidebar-toggler-wrapper,
    .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu.sidebar-search-wrapper {
      box-shadow: none; }
  .page-sidebar-menu.page-sidebar-menu-closed > li:hover {
    box-shadow: 5px 5px rgba(44, 53, 66, 0.2); }
    .page-sidebar-menu.page-sidebar-menu-closed > li:hover.sidebar-toggler-wrapper,
    .page-sidebar-menu.page-sidebar-menu-closed > li:hover.sidebar-search-wrapper {
      box-shadow: none; }
    .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu {
      box-shadow: 5px 5px rgba(44, 53, 66, 0.2); }
      .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu.sidebar-toggler-wrapper,
      .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu.sidebar-search-wrapper {
        box-shadow: none; }
  /* Light sidebar menu */
  .page-sidebar-menu.page-sidebar-menu-light.page-sidebar-menu-closed > li.heading {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #3d4957 !important; }
  /* Fixed Sidebar */
  .page-sidebar-fixed:not(.page-footer-fixed) .page-content {
    border-bottom: 0; }
  .page-sidebar-fixed:not(.page-footer-fixed) .page-footer {
    background-color: #fff; }
    .page-sidebar-fixed:not(.page-footer-fixed) .page-footer .page-footer-inner {
      color: #333; }
  /* Boxed Layout */
  .page-boxed {
    background-color: #303a47 !important;
    /* Page container */
    /* Page sidebar */
    /* Page footer */ }
    .page-boxed .page-container {
      background-color: #364150;
      border-left: 1px solid #3d4957;
      border-bottom: 1px solid #3d4957; }
    .page-boxed.page-sidebar-reversed .page-container {
      border-left: 0;
      border-right: 1px solid #3d4957; }
    .page-boxed.page-sidebar-fixed .page-container {
      border-left: 0;
      border-bottom: 0; }
    .page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-container {
      border-left: 0;
      border-right: 0;
      border-bottom: 0; }
    .page-boxed.page-sidebar-fixed .page-sidebar {
      border-left: 1px solid #3d4957; }
    .page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-sidebar {
      border-right: 1px solid #3d4957;
      border-left: 0; }
    .page-boxed.page-sidebar-fixed.page-footer-fixed .page-footer {
      background-color: #303a47 !important; }
      .page-boxed.page-sidebar-fixed.page-footer-fixed .page-footer .page-footer-inner {
        color: #98a6ba; }
  /* Sidebar Menu Wirh Hoverable Submenu */
  .page-sidebar-menu-hover-submenu li:hover a > .arrow {
    border-right: 8px solid #323c4b; }
    .page-sidebar-reversed .page-sidebar-menu-hover-submenu li:hover a > .arrow {
      border-left: 8px solid #323c4b; }
  .page-sidebar-menu-hover-submenu li:hover > .sub-menu {
    background: #323c4b !important; } }

@media (max-width: 991px) {
  /* 991px */
  /* Page sidebar */
  .page-sidebar {
    background-color: #28303b;
    /* light sidebar */ }
    .page-sidebar .page-sidebar-menu > li > a {
      border-top: 1px solid #364150; }
    .page-sidebar .page-sidebar-menu > li:hover > a,
    .page-sidebar .page-sidebar-menu > li.open > a {
      background: #2e3744; }
    .page-sidebar .page-sidebar-menu > li:last-child > a {
      border-bottom: 0 !important; }
    .page-sidebar .page-sidebar-menu > li .sub-menu {
      background-color: #28303b !important; }
    .page-sidebar .page-sidebar-menu .sidebar-search input {
      background-color: #28303b !important; }
    .page-sidebar .page-sidebar-menu.page-sidebar-menu-light {
      /* 1st level links */ }
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li:hover > a,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.open > a {
        background: #2e3744; }
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a {
        background: #2e3744; }
        .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a:hover,
        .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a:hover {
          background: #2e3744; }
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu {
        background: #28303b !important; }
        .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li:hover > a,
        .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.open > a,
        .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.active > a {
          background: #2e3744 !important; } }

@media (max-width: 480px) {
  /* 480px */
  .page-header.navbar {
    /* Top menu */ }
    .page-header.navbar .top-menu {
      background-color: #364150; }
      .page-header-fixed-mobile .page-header.navbar .top-menu {
        background-color: #2b3643; }
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
        background-color: #415265; }
        .page-header-fixed-mobile .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
          background: none; }
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle:hover {
          background-color: #3f4f62; } }

/****
    Boby
    ****/
.nav-item.active  a{
  background: #1d2233!important;
  box-shadow: 0px 1px 9px 0px black;
}

.nav-item.open .sub-menu a{
  background: transparent!important;
}



.nav-link{
  border-radius: 5px!important;
}

span.selected{
  display: none!important;
}

.nav-link:hover{
  background: #1d2233!important;
}

.sub-menu .nav-link:hover{
  background-color: #182140!important;
}

.page-sidebar-menu{
  margin-left: 10px!important;
  margin-right: 10px!important;
}

.page-sidebar-menu-closed{
  margin-left: 0!important;
  margin-right: 0!important;
}

.page-logo img{
  max-width: 150px!important;
}

.page-header-fixed .page-container {
  margin-top: 0!important;
}

.no-hover a:hover{
  background: transparent!important;
}

.top-right-admin-part{
  width: 100%;
  background-color: transparent;
  height: 50px;
  margin-bottom: 20px;
}

.dropdown-user{
  background-color: transparent;
  color: white!important;
}

.dropdown-user span {
  color: white !important;
}

.icon-user,.icon-settings,.fa-angle-down{
  color: white !important;
}

.drop-settings .icon-settings{
  padding: 8px 40px!important;
  cursor: pointer;
}

.drop-settings>a{
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.drop-link:hover {
  background: #353535!important;
}

.dropdown-toggle:hover,.dropdown-toggle:focus {
  background: #353535!important;
}

.dropdown-toggle:active {
  background: #353535!important;
}



.nav>.drop-settings>a {
  padding-left: 0!important;
}

.customize-items {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    padding-bottom: 10px;
    overflow: scroll;
}

.customize-items .item-body{
  width: 50%;
  margin-bottom: 10px;
  height: 110px;
}

.drop-settings-inner{
  min-width: 318px!important;
}

.customize-items .item-body .item{
  margin: 10px;
  height: 100%;
  box-shadow: 0px 1px 5px 0px black;
  border-radius: 5px;
}

.customize-items .item-body .item:hover{
  margin: 10px;
  height: 100%;
  box-shadow: 0px -1px 5px 0px #868686;
  border-radius: 5px;
}

.drop-settings.active-cast{
  background: #353535!important;
}

.customize-items .item-body .item img{
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 5px;
}

.scheme-title{
  font-size: 20px;
  color: white;
  text-align: left;
  padding-left: 10px;
  margin: 20px 0 10px;
}



.page-content-wrapper .page-content{
  padding: 0px 15px 10px!important;
  margin-top: 80px!important;
}

.drop-settings-inner{
  left: auto;
  right: -350px;
  display: block;
  width: 327px;
  position: absolute;
  z-index: 2;
  background: #353535!important;
  box-shadow: -4px 3px 10px 0px black;
}

.nav.pull-right>li>.dropdown-menu:after, .nav>li>.dropdown-menu.pull-right:after,
.nav.pull-right>li>.dropdown-menu:before, .nav>li>.dropdown-menu.pull-right:before{
  display: none!important;
}



.dashboard-stat.blue{
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dashboard-stat .more{
  color: #FFFFFF;
  background-color: #302b63;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 5px;
  width: 40%;
  box-shadow: 0px 1px 3px 0px black;
  padding: 10px;
  opacity: 1;
}

.page-sidebar.collapse{
  height: 100%!important;
  background-color: transparent;
}

.panel-success>.panel-heading {
  color: white;
  background-color: transparent!important;
  border-color: transparent!important;
}

.list-group-item{
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 10px 0px;
  margin: 0;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
}

.sms-portlet{
  margin: 0 auto;
  width: 80%!important;
}

.sms-portlet table{
  color: black;
}

tbody tr:first-child{
  color: white;
}

.sold-text{
  color: white;
  padding-top: 20px;
  font-weight: 600;
  display: inline-block;
  font-size: 15px;
}


.dashboard-stat .visual > .fa-money{
  margin-left: 101px;
  font-size: 80px;
  line-height: 65px;
}

.dashboard-stat.purple .details .desc {
  text-align: left;
}

.send-btn{
  background: #c94b4b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none!important;
  border-radius: 0;
  width: 70%;
  margin: 0 auto;
  padding: 27px 10px;
  margin-top: 20px;

}

.send-btn:hover{
  background-color: #182140!important;
  outline: 1px solid white!important;
}

.change-btn{
  background-color: #f15e29;
  background: #f85032;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none!important;
  border-radius: 0;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 27px 10px;
}

.change-btn:hover,.change-btn:focus{
  background-color: #182140!important;
  outline: 1px solid white!important;
}

.btn-success .toggle-handle {
  width: 30px!important;
  height: 30px!important;
  padding: 0!important;
  position: relative!important;
  left: -17px!important;
  border-radius: 20px!important;
  top: 1px;
}

.btn-success {
  width: 80%!important;
  height: 35px!important;
}

.toggle{
  border-radius: 50px!important;
  box-shadow: 0px 1px 2px 0px black!important;
}

.login-field {
  border: none;
  border-bottom: 1.5px solid #ffffff!important;
  border-radius: 0!important;
  background: transparent;
  color: white;
}


.edit-ico-field{
  border-radius: 5px!important;
}

.edit-ico-field .calend input{
  border-radius: 5px  0 0 5px!important;
}

.form-control {
  padding: 0px 12px!important;
}

table .fa-edit {
  color: black;
  font-weight: 600;
}

.new-ico-btn .icon-plus{
  position: relative;
  top: 1px;
}

.save-btn{
  background-color: #fc4f44;
  margin: 0 auto;
  height: auto!important;
  border: none;
  border-radius: 0;
  width: 40%!important;
  margin-top: 15px!important;
}

.save-btn:hover{
  background: #182140!important;
}

.no-pad-left{
  padding-left: 0!important;
}

.no-pad-right{
  padding-right: 0!important;
}

.border-true{
  border: 1.5px solid #ffffff!important;
  border-radius: 15px!important;
}

.portlet > .portlet-title > .caption > .icon-envelope{
  font-size: 20px!important;
  position: relative;
  bottom: 2px;
}

.dark-bottom{
  border-bottom: 1.5px solid #182140!important;
  color: #182140!important;
  margin-bottom: 25px!important;
}

.modal .control-label{
  color: #182140!important;
}

.modal-title {
  text-align: center;
  color: #182140 !important;
  font-weight: bold;
}

.change-pass-btn{
  background-color: #FC4F44;
  border-color: #FC4F44;
}

.change-pass-btn:hover {
  background: #182140!important;
}


.text-area-block{
border-radius: 50px!important;
}

.text-area-block .nicEdit-main{
  border-width: 2px 2px 2px 2px;
  border-radius: 0 0 10px 10px;
}

.btn-danger .toggle-handle {
  width: 30px!important;
  height: 30px!important;
  padding: 0!important;
  position: relative!important;
  left: 17px!important;
  border-radius: 20px!important;
  top: 1px;
}

.btn-danger {
  width: 80%!important;
  height: 35px!important;
}

.oper-row{
  padding-left: 15px!important;
  padding-right: 15px!important;
}

.toggle-group .btn-success{
  padding-right: 120px!important;
  background-color: #2dcc8a!important;
  border-color: #2dcc8a!important;
}

.toggle-group .btn-danger{
  padding-right: 100px!important;
  background-color: #fc4f44;
  border-color: #fc4f44;
}

.submit-btn-user{
  width: 30%;
  margin: 0 auto;
  box-shadow: 0px 1px 2px 0px black!important;
}

.toggle-group .btn-danger:hover{
  background-color: #fc4f44;
  border-color: #fc4f44;
}

.form-setting-user .form-group {
  text-align: left;
}

.bottom-btns{
  padding-top: 20px;
  padding-bottom: 20px;
}


.list-group{
  margin-bottom: 0;
}

.progres-item{
  display: block;
  border: none;
}

.sold-li{
  border: 1px solid white;
  margin-top: 10px;
  border-radius: 3px;
  box-shadow: 0px 1px 5px #a7a5a5;
  background: #ffffff2e;
  margin: 15px 15px 0;
}

.panel-title {
  margin-top: 0;
  font-size: 18px;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
  padding-left: 15px;
}

.progress {
  height: 5px;
}

.progress-bar-success{
  position: relative;
  background: #219a68;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #bbfff1, #219a68);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #bbfff1, #219a68); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
}


.progreess-circle{
  width: 12px;
  height: 12px;
  background: #f8f8f8;
  position: absolute;
  right: -5px;
  top: -3px;
  border-radius: 20px;
  box-shadow: 0px 0px 6px 1px #a0a0a0;
}

.panel-warning>.panel-heading {
  background-color: transparent!important;
  border-color: transparent!important;
  color: white;
}

.page-content-wrapper{
  background-image: url('../../img/bg-login.png');
  background-size: 100% 100%;
  background-attachment: fixed;
}

.page-content {
  background-color: transparent;
  padding: 0px 20px 10px!important;
}

.page-sidebar .arrow:before{
  transform: rotate(180deg);
}

.nav-item{
  margin-bottom: 5px!important;
}

.page-logo:hover{
  background-color: transparent!important;
}


.progress{
  overflow: visible;
}

.no-flex{
  display: block;
}

.gateways-body .panel-heading{
  background: transparent;
  color: white;
}

.gateways-body .panel-primary{
  background: #1d2233;
  border: none;
}

.gateways-body .panel-heading{
  height: 300px;
  border: none;
  border-color: transparent;
  font-size: 30px;
  text-align: center;
  padding-left: 30px;
}

.gateways-body .list-group-item{
  padding: 0;
  border: none;
}

.gateways-body .btn{
  border-radius: 0;
}

.gateways-body .btn-block {
  text-transform: uppercase;
  opacity: 1;
  border: none;
  background: #182140;
}

.gateways-body .btn-block:hover{
  opacity: 1;
  border: none;
}


.gateways-body .btn-success {
  opacity: 1!important;
  background: #219a68;
  border: none;
}

.gateways-body .btn-success:hover{
  opacity: 1;
}

.gateways-body .panel-body {
  padding: 0px;

  background: #1d2233;
  background: -webkit-linear-gradient(to right, #1d2233, #414965);
  background: linear-gradient(to right, #1d2233, #414965);
}

.new-ico-btn{
  width: 100%!important;
  height: 30px!important;
  background-color: #2f7081;
  border-color: #2f7081;
}

.date-picker{
  background-color: transparent!important;
  border: 2px solid white;
  border-radius: 5px 0 0 5px!important;
}

.general-settings-row .btn-success {
  width: 71% !important;
}

.general-settings-row  .btn-danger {
  width: 71% !important;
}

.last-row-settings input{
  background-color: transparent!important;
  border: 2px solid white;
  color: white;
}



.general-settings-row .input-group,.general-settings-row input{
  height: 46px;
  margin-bottom: 30px;
}


.update-btn:hover{
  background: #182140!important;
  border-color: #182140!important;
}

.status-text{
  color: #182140!important;
}

.gateways-body .btn-success {
  width: 100% !important;
}

.gateways-body select{
  border: 1.5px solid #182140!important;
  border-radius: 5px!important;
}



/*.gateways-body .panel-heading:before{*/
  /*content: '';*/
  /*width: 5px;*/
  /*height: 5px;*/
  /*background: #f7931b;*/
  /*position: relative;*/
  /*bottom: 2px;*/
  /*display: inline-block;*/
  /*margin-right: 5px;*/
  /*border-radius: 20px;*/
/*}*/

.gateways-body .button-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.gate-body{
  display: flex;
}

.nicEdit-main{
  background-color: #000000a8;
  padding-left: 20px;
  padding-top: 20px;
  outline: none;
}

.edit-ico-field .login-field{
  margin: 0!important;
  border: 1.5px solid #182140!important;
  border-radius: 5px!important;
}

.edit-ico-field  .input-group-addon{
  border: 1.5px solid #182140!important;
}

.submit-btn.broad-email{
  width: 30%;
  background: #FC4F44;
  border: none;
  padding-top: 15px!important;
  padding-bottom: 15px!important;
  margin: 0 auto;
  border-radius: 0;
}

.submit-btn.broad-email:hover{
  background: #182140!important;
}

.edit-ico-field .calendar-input{
  border-left: none!important;
}

.edit-ico-field label{
  color: #182140!important;
}

.edit-ico-field select{
  border: 1.5px solid #182140!important;
}

.gateways-body .btn-block+.btn-block {
  margin-top: 0px;
}

.panel-success{
  background: #2f7081;
  background: -webkit-linear-gradient(to left, #133038, #2f7081);
  background: linear-gradient(to left, #133038, #2f7081);
}

.panel-warning{
  background: #825315;
  background: -webkit-linear-gradient(to left, #825315, #b9771f);
  background: linear-gradient(to left, #825315, #b9771f);
}

  /****
   CSS3 Spinner Bar
  ****/
.page-spinner-bar > div,
.block-spinner-bar > div {
  background: #4bccd8; }


.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #353535!important;
}

.view-btn{
  padding: 5px 15px;
  border-color: #32c5d2!important;
}

.view-btn:hover{
  color:white;
  border-color: white!important;
  background-color: transparent!important;
}

.search-body .form-control{
  background: transparent;
  border: none;
}

.search-body{
  background: white;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 5px;
}

.gateway-body .panel-primary{
  /*display: flex;*/
  /*flex-direction: row-reverse;*/
}

.gateway-body .panel-body img{
  height: 250px;
  margin-top: 20px;
  margin-left: 20px;
}

.left-gate-part{
  display: flex;
  width: 50%;
}

.right-gate-part{
  width: 50%;
}

.top-right-admin-part{
    width: 100%;
    margin-bottom: 10px;
    position: fixed;
    z-index: 5;
    background-color: #353535;
    height: 56px;
}

.tokens-info{
    font-size: 20px;
    color: white;
    padding-right: 30px;
    margin-top: 15px;
}

.tokens-info span{
    font-size: 26px;
    padding-left: 5px;
    padding-right: 5px;
}

.tokens-info-coin{
    font-size: 20px;
    color: white;
    padding-right: 30px;
    margin-top: 17px;
}

.balance-text{
    margin-bottom: 0;
    margin-top: 0;
}

.balance-text select{
    background: transparent;
    border: none!important;
    outline: none;
    cursor: pointer;
}

option{
    cursor: pointer;
}

.down-str{
    bottom: 0px;
}

.up-str{
    position: relative;
    left: 5px;
}

.icon-settings-first{
    padding: 8px 20px;
    display: inline-block;
}

.drop-link .fa-angle-down{
    padding-top: 10px;
}

.icon-settings-first,
.icon-settings{
    position: relative!important;
    top: 5px!important;
    padding-right: 40px!important;
}

.icon-settings{
    display: inline-block;
}

.icon-settings:before {
    display: none;
}

.drop-link svg {
    fill: white;
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.top-menu .nav>li>a {
    padding: 8px 20px 10px 0px;
    color: #a8acb1;
    line-height: 20px;
    background: #353535!important;
}

.top-menu .nav>li:focus>a, .top-menu .nav>li:hover>a, .top-menu .nav>li>a:focus, .top-menu .nav>li>a:hover {
    background: #1d1c1c!important;
}

.dropdown-menu {
    min-width: 100%!important;
}

.drop-link.open-link{
    display: inline-block;
    padding-top: 8px!important;
    padding-bottom: 12px!important;
}

.page-logo img {
    max-width: 150px!important;
    width: 150px;
    display: inline-block;
    height: 40px;
    max-height: 40px!important;
}

.page-logo{
  position: fixed;
  z-index: 10;
}

.padd-top{
    padding-top: 80px!important;
}